{% extends templates/basic.html %}
{% block title %}
Prioritized Grammar Evaluation
{% endblock %}

{% block head %}
<script>
  streamId = "{{streamId}}";
</script>
<script src="/static/js/progress.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<link rel="stylesheet" href="/static/css/progress.css">
{% endblock %}

{% block content %}

<h1>Execution (id: {{stream_id}})</h1>

<section id="messages">
</section>

{% endblock %}